<div bsModal #categoryCreateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{modalTitle}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #formEdit="ngForm">

                    <div class="form-group">
                        <label class="small mb-1">Ad</label>
                        <input class="form-control py-4" name="name" #nameCtrl="ngModel"
                            [(ngModel)]="categoryInput.name" type="text" placeholder="Kategori adını giriniz :"
                            required />
                        <validation-messages [formCtrl]="nameCtrl"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label class="small mb-1">Kategori Tipi</label>
                        <p-dropdown #categoryTypeCtrl="ngModel" [options]="categoryTypeList" (onChange)="onChangeCategoryType($event.value)"
                            [(ngModel)]="selectedCategoryType" placeholder="Kategori tipini seçiniz : "
                            name="categoryTypeId" optionLabel="name" styleClass="w-100" [required]="true"
                            [showClear]="true"></p-dropdown>
                        <validation-messages [formCtrl]="categoryTypeCtrl"></validation-messages>

                    </div>
                    <ng-template [ngIf]="!(selectedCategoryType && selectedCategoryType.id==1)">
                        <div class="form-group">
                            <label class="small mb-1">Bağlı olacağı kategori</label>
                            <p-dropdown #parentCategoryIdCtrl="ngModel" [options]="parentCategoryList" 
                                [(ngModel)]="selectedParentCategory" placeholder="Kategori tipini seçiniz : "
                                name="categoryTypeId" optionLabel="name" styleClass="w-100" [required]="true"
                                [showClear]="true"></p-dropdown>

                                
                            <validation-messages [formCtrl]="parentCategoryIdCtrl"></validation-messages>
                        </div>
                    </ng-template>
                </form>
            </div>

            <div class="modal-footer">
                <div class="pull-left">
                    <button class="btn btn-default" (click)="hide()">İptal</button>
                    <button class="btn btn-primary" [disabled]="!formEdit.form.valid"
                        (click)="createCategory()">Ekle</button>
                </div>
            </div>
        </div>
    </div>
</div>